<?xml version="1.0" encoding="UTF-8"?>
<oimplugins xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">  
  <plugins pluginpoint="oracle.iam.scheduler.vo.TaskSupport">
    <plugin pluginclass= 
        "no.steria.tad.AIXPwdChangerTask"
         version="1.0.0" 
         name="AIX_PWD_CHANGER">
    </plugin>
  </plugins>
</oimplugins>

